:root {
    /* common */
    --containerMaxWidth: 1240px;

    /* fonts */

    --font-standart: 'Arial, sans-serif';
    --font-MontserratRegular: 'MontserratRegular';
    --font-MontserratBold: 'MontserratBold';
    --font-MontserratMedium: 'MontserratMedium';
    --font-MontserratSemiBold: 'MontserratSemiBold';


    /* color */
    --white: #FFFFFF;
    --black: #000000;
    --blue-A4: #2E4EA4;
    --blue-EF: #00aeef;
    --blue-DC: #0770dc;
    --dark-2B: #2b2b2b;
    --dark-32: #323232;
    --grey-F9: #EEF3F9;
    --grey-B5: #b5b5b5;


    /* UI */

    --section-shadow: rgba(8, 24, 111, 0.2);
}